.skip-link {
  background-color: col.$primary;
  color: col.$light;
  left: 50%;
  padding: padding(1) padding(2);
  position: absolute;
  text-decoration: none;
  top: -100px;
  transform: translateX(-50%);
  transition: top 0.3s;
  z-index: $z-overlay;

  &:focus {
    top: 0;
  }

  &:hover {
    background-color: col.$primary-hover;
  }
}
