@use 'sass:color';

.rag-banner {
  padding: padding(2);
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: spacing(0.5);

  .title {
    font-weight: bold;
    font-size: type.$body-text-size;
    color: col.$body-text;
  }

  .body {
    @include type.body-text;
    color: col.$body-text;
  }

  &.red {
    background-color: color.scale(col.$rag-red, $lightness: 90%);
  }

  &.amber {
    background-color: color.scale(col.$rag-amber, $lightness: 90%);
  }

  &.green {
    background-color: color.scale(col.$rag-green, $lightness: 90%);
  }

  &.grey {
    background-color: color.scale(col.$rag-grey, $lightness: 90%);
  }

  &.blue {
    background-color: color.scale(col.$rag-blue, $lightness: 90%);
  }
}
