.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: spacing(1);
  padding: padding(2);
  width: 150px;
  height: 150px;
}

.svgRoot {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  width: 100%;
  height: 100%;
}

.svgRectNoFill,
.svgPathNoFill {
  fill: none;
}

.spinning {
  animation: spin 6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
